<html>
  <head>
    <title>Landing | BYXPointService</title>
  </head>
  <body>
    <div style="text-align:center;">
      <h1>BYX Member Portal</h1>
      <p>visible to EVERYONE without logging in</p>
      <p>login button goes here</p>
    </div>
  </body>
</html>