<html>
  <head>
    <title>Admin Dashboard | BYXPointService</title>
  </head>

  <body>
    <div style="text-align:center;">
      <h1>Admin Portal</h1>
      <p>only visible to members who are admins<p>
    </div>
  </body>
</html>