<html>
  <head>
    <title>Member Dashboard | BYXPointService</title>
  </head>

  <body>
    <div style="text-align:center;">
      <h1>member views are empty. placeholder for now, may be able to handle with Devise</h1>
    </div>
  </body>
</html>