<html>
  <head>
    <title>Member Dashboard | BYXPointService</title>
  </head>

  <body>
    <div style="text-align:center;">
      <h1>MEMBERS HOME PAGE</h1>
      <p>visible to both admins and members when logged in</p>
    </div>
  </body>
</html>